.speech-bubble {
  position: relative;
  background: #3b82f6;
  color: white;
  padding: 20px;
  width: 200px;
  margin: 50px auto;
  border-radius: 15px;
  font-family: sans-serif;
  text-align: center;
}

.speech-bubble::after {
    content: ""; 
    position: absolute;
    
    left: 100%;
    top: 50%;
    margin-top: -10px;
  
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #3b82f6; 
  }